<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row-dash">
            <div class="side-bar">
                <app-sidebar></app-sidebar>
            </div>
           <div class="router-outlet">
            <router-outlet></router-outlet>
           </div>
<!--            <div class="friends">
            <h1 >Examenes</h1>
            <div class="exams">
               
                    <div class="e1"></div>
                    <div class="e1"></div>
                    <div class="e1"></div>
                    <div class="e1"></div>
                    
    
            </div>
        </div> -->
        </div>
    </div>
</div>